@import "../default.scss";
.donate-organ-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: $light-grey;
  align-items: center;
  justify-content: center;

  form {
    width: 650px;
    height: 650px;
    background-image: url("../../images/donate_an_organ.svg");
    background-position: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .box {
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 30px;
    padding: 60px;
    padding-top: 35px;
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.72) 0%,
      rgba(229, 229, 229, 0.67) 100%
    );
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.72) 0%,
      rgba(229, 229, 229, 0.67) 100%
    );
  }
  .h1 {
    text-align: center;
    margin-top: 45px;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
  }
  .h2 {
    text-align: center;
    padding-bottom: 17px;
    margin-top: 0px;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .input1 {
    background-color: white;
    width: 94.6%;
    border: 0px;
    height: 30px;
    padding: 3px;
    padding-left: 19px;
    border-radius: 6px;
    margin-left: 10px;
  }
  .input2 {
    background-color: white;
    width: 47.3%;
    border: 0px;
    height: 30px;
    margin-left: 10px;
    padding-left: 16px;
    border-radius: 6px;
  }
  .input3 {
    background-color: white;
    width: 45%;
    border: 0px;
    height: 30px;
    margin-left: 10px;
    padding-left: 16px;
    border-radius: 6px;
  }
  .input4 {
    background-color: white;
    width: 94.6%;
    border: 0px;
    height: 30px;
    margin-left: 10px;
    padding-left: 13px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.5);
  }
  .input5 {
    background-color: white;
    width: 94.6%;
    border: 0px;
    height: 30px;
    margin-left: 10px;
    padding-left: 13px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.5);
  }

  .box1 {
    background-color: white;
    width: 94.6%;
    height: 50px;
    margin-top: auto;
    padding-top: auto;
    margin-left: 10px;
    padding-left: 13px;
    border-radius: 10px;
    padding-top: 7px;
  }

  .btn1 {
    background-color: #616878;
    width: 25%;
    padding: 5px;
    margin-top: 15px;
    margin-left: 175px;
    border-radius: 6px;
    height: 40px;
    color: white;
  }
  .btn1:hover {
    background-color: #40444f;
    box-shadow: black;
  }
  input[type="file"] {
    display: none;
  }
  .upload1 {
    font-size: 20px;
    width: 96%;
    margin-top: 10px;
    margin-left: 100px;
    height: 25px;
    color: rgba(0, 0, 0, 0.5);

  }
  .donation-accepted-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
